* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-box {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #EEEEEE;
  position: relative;
}

.main-box-step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
}

.main-box-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  width: auto;
  height: 150px;
}

.main-box-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  width: auto;
  height: 150px;
}

.main-box-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  width: auto;
  height: 150px;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}